.banner {
  background-color: $orange;
  display: block;
  height: 30px;
  width: auto;
}

.main-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px;

  .gradient-line {
    background: linear-gradient(0deg, $white, $orange 40%, $white);
    height: 400px;
    margin: 0 50px;
    width: 5px;
  }
}

.triangle{
  display: flex;
  background-image: image-url("triangle.png");
  height: 13px;
  width: auto;
}

.feature-section {
  display: flex;

}

@media only screen and (max-width: 768px) {
  .phone,
  .gradient-line { display: none;}
}
