.body {
  display: flex;
  flex-direction: column;
}

* {
  font-family: $font;
}

.main-section {
  align-items: center;
  border-top: 15px solid $orange;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;


  .gradient-line {
    background: linear-gradient(0deg, $white, $orange 40%, $white);
    height: 400px;
    margin: 0 50px;
    width: 5px;
  }
}


.feature-section {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;

  &::before {
    background-image: image-url('triangle.png');
    background-repeat: repeat;
    content: '';
    height: 12px;
    position: absolute;
    top: -12px;
    width: 100%;
  }

  .item {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
    padding-top: 10px;

    .title {
      color: $dark-grey;
      font-weight: bold;
      padding: 10px;
    }

    .text {
      color: $gray;
      text-align: center;
      width: 200px;
    }
  }
}

.footer-section {
  align-items: center;
  background-color: $orange;
  box-shadow: 0 -8px 20px 0 #11111129;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 20vh;
  z-index: 1;

  .footer-text {
    color: $white;
    font: $font;
    font-size: 20px;
    margin-top: 30px;
  }

  .footer-input {
    border-radius: 5px;
    margin-top: 20px;
    min-height: 30px;
    min-width: 300px;
  }

  .footer-button {
    border: 1px solid $white;
    border-radius: 10px;
    color: $white;
    font: $font;
    font-size: 20px;
    margin-top: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 10px;

  }

}

@media only screen and (max-width: 768px) {
  .phone,
  .gradient-line {
    display: none;
  }
}
